body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}



h1 {
    color: green;
}

h2{
    color: olive
}

.container{
    width: 800px;
    margin: 0 auto;  
    text-align: center;
}

footer{
    background-color: #06bba0;
}

dl{
    text-align: left;
}

#profile_img{
    border-radius: 50%;
}

.spanuso{
    color: blue;
}

.boton{
    background-color: #06bba0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0000005b;
}

#btnBuscar{
    background-color: #06bba0;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #0000005b;
}